body {
    transition: all 0.3s ease-in-out;
}

body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark #services {
    background-color: black;
    color: white;
}

body.dark #services .box {
    background-color: #222;
    color: white;
    border: 2px solid #222;
}

body.dark #services .title a {
    color: white;
}

body.dark #services .section-header h3 {
    color: white;
}

body.dark #services #openTabButton p {
  color: white !important;
}

body.dark #services header p {
    color: #1bb1dc;
}

body.dark #hero {
    background: black;
    color: white;
}

body.dark #hero h2,
body.dark #hero .btn-get-started {
    color: white;
}

body.dark #footer {
    background: black;
    color: white;
    border-top: 1px solid white;
}

body.dark #portfolio {
    background-color: black !important;
    color: white;
}

body.dark #portfolio .container .nav-link {
    color: black;
}

body.dark #portfolio .container .hover:hover {
    background-color: #dbdad7;
    color: black;
}

body.dark #portfolio .container .active {
    color: white;
}

body.dark #portfolio .tab-pane {
    background-color: black;
    color: white;
}

body.dark #portfolio .tabitems img {
    border: 2px solid white;
}

body.dark #header {
    background-color: black !important;
    color: white !important;
}

body.dark #header .logo a {
    color: #1bb1dc;
}

body.dark #navbar ul li a {
    color: #1bb1dc;
}

body.dark #navbar .mobile-nav-toggle {
  color: white;
}

body.dark .navbar-mobile ul li a{
  color: #413e66 !important;
}

body.dark #clients {
    background-color: black !important;
}

body.dark #clients header h3 {
    color: white !important;
}

body.dark #clients header p {
    color: white !important;
}

body.dark #about {
    background-color: black !important;
}

body.dark #about .about-content p {
  color: white !important;
}

body.dark #about .about-content h2 {
    color: white;
}

body.dark #about .about-content h3 {
    color: #1bb1dc;
}

body.dark #why-us {
    background-color: black !important;
}

body.dark #why-us header h3 {
    color: white !important;
}

body.dark #why-us header p {
    color: white !important;
}

body.dark #why-us header p {
    color: #1bb1dc;
}

body.dark #testimonials {
    background-color: black !important;
    color: #fff;
}

body.dark #testimonials header h3 {
    color: #1bb1dc !important;
}

body.dark #testimonials .testimonial-item h3 {
  color: white !important;
}

body.dark #testimonials .testimonial-item h4 {
  color: white !important;
}

body.dark #testimonials .testimonial-item p {
  color: white !important;
}

body.dark #footer .footer-info .logo {

  width: 84%;
  height: 40px;
  position: relative;
  background: url("/trionex_website/static/src/img/footer_dark_logo.png");
  background-size: contain;
  background-repeat: no-repeat;

}

body.dark #footer .footer-info h3 {
    color: #1bb1dc;
}

body.dark #footer .footer-info p {
    color: white;
}

body.dark #footer .footer-top .footer-links {
    color: white !important;
}

body.dark #footer .footer-links h4 {
    color: white !important;
}

body.dark #footer .footer-links ul li a {
    color: white;
}

body.dark #footer #fotter-heading {
    color: #1bb1dc;
}

body.dark #footer .footer-newsletter h4 {
    color: #1bb1dc;
}

body.dark #footer .footer-newsletter p {
    color: white !important;
}

body.dark #footer .form h4 {
    color: #1bb1dc;
}

body.dark #footer .copyright {
    color: white; !important;
}

body.dark .contact h2 {
    color: white !important;
}

body.dark .myMap {
    filter: grayscale(100%) invert(100%);
}

body.dark #projects {
    background: black;
    color: #252930 !important;
}


body.dark #projects .section-header h3 {
  font-weight: 800;
  color: white !important;
}


.toggle {
    margin-top: 8px;
    margin-right: -50px;
    position: relative;
    height: 30px;
    width: 15%;
    margin-left: 10px;
    border-radius: 100px;
    /* background-color: #1bb1dc; */
    background-color: #e7dede !important;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
}

@media (max-width: 991px) {
    .toggle {
        margin-right: 2px;
        width: 15%;
    }
  }

@media (width: 360px) {
    .toggle {
        margin-right: 1px;
        margin-top: 7px;
        width: 16%;
    }
}

@media (width: 280px) {
    .toggle {
        margin-right: 0px;
        width: 20%;
    }
}

@media (width: 912px) {
    .toggle {
        margin-right: 2px;
        width: 9%; !important;
    }
}

@media (width: 820px) {
    .toggle {
        margin-right: 2px;
        width: 10%; !important;
    }
}

@media (width: 768px) {
    .toggle {
        margin-right: 2px;
        width: 10%; !important;
    }
}

@media (width: 1280px) {
    .toggle {
        margin-right: 0px;
        width: 15%;
    }
}


.toggle::before {
    content: url("/trionex_website/static/src/img/moon16.png");
    /* background: url("../img/moon.png"); */
    position: absolute;
    /* height: 30px;
    width: 30px; */
    /* color: yellow; */
    border-radius: 50%;
    top: 18px;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;

}

.toggle.active::before {
    content: url("/trionex_website/static/src/img/sun16.png");
    /* background: url("../img/sun.png"); */
    /* font-size: 1.5rem; */
    /* color: yellow; */
    left: calc(100% - 15px - 10px)
}


.tabitems p {
    color: #070346;
    font-family: "Spartan", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0px;
}
.fullwidth{
    max-width: 100% !important;
    margin: 0;
}

body.dark .services_ec {
    background-color: black !important;
    color: white !important;
}

body.dark .services_ec .tab-content #service-heading {
    color: white !important;
}

body.dark .services_ec .tab-content hr {
    color: white !important;
}

body.dark .contact-info {
    background-color: black !important;
    color: white !important;
}

body.dark .contact-info h4 {
    color: white !important;
}

body.dark .navbar a, .navbar a:focus {
    color: white !important;
}

body.dark .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
  color: #1bb1dc !important;
}

body.dark .nav-link.active {

  color: #1bb1dc !important;
}

body.dark #products {
    background-color: black;
    color: white;
}

body.dark #products .card {
    background-color: #252930;
    color: white;
    border: 2px solid #252930;
}

body.dark #products .card h4 {
    color: white;
}

body.dark #products .section-header h3 {
    color: white;
}

body.dark #products .icon i {
  color: black;
}

body.dark #projects .cards .face.face1{
  background: #252930;
  color: white;
}

body.dark #projects .cards .face.face1 .content i{
  color: white;

}

body.dark #projects .cards:hover .face.face1 .content i{
  color: white;
}

body.dark #projects .cards:hover .face.face1 .content i #sigin {
  mix-blend-mode: plus-lighter;
}

body.dark #projects .cards .face.face1 .content h4{
  color: white;
}

body.dark #projects .cards:hover .face.face1 .content h4{
  color: #1bb1dc;
}

